
.square{
    width: 100px;
    height: 100px;
    background-color: #748cab;
    border: 1px solid #748cab;
    position: relative;
    display: inline-block;
}

.x, .o{
    position: relative;
}

.o::after{
    position: absolute;
    content: "\2B55";
    filter: hue-rotate(220deg) grayscale(50%) brightness(1.6);
    font-size: 50px;
    line-height: 100px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.x::after{
    position: absolute;
    content: "\274C";
    filter: hue-rotate(220deg);
    font-size: 50px;
    line-height: 100px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}